
@{
    ViewBag.Title = "SalesReport";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<h2>SalesReport</h2>

@Html.ActionLink("Complete Sales Report", "TodayReport", new { @class = "nav-link" })
